#about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;

  #about-content {
    text-align: center;
    width: 60%;

    .line-break {
      display: block;
      margin: 10px 0px;
    }
  }
}
