@import '../../../containers/App/styles/colors.scss';

#header {
  background-color: $background !important;
  border: none;
  border-radius: 0;
  background: $background;

  .logo {
    height: 35px;
  }

  .wallet-button {
    background-color: transparent;
    border: 2px solid lighten($background, 10%);

    &:hover {
      background-color: lighten($background, 10%);
    }

    &.disc:hover {
      background-color: darken($error, 5%);
      border-color: darken($error, 5%);
    }
  }

  .navbar-collapse > .navbar-nav {
    a.nav-link, .nav-item {
      color: $text-color;

      &:hover {
        transition: 200ms;
        color: $brand;
      }
    }
  }

  .dropdown-menu {
    background-color: lighten($background, 10%);

    .dropdown-item {
      color: $text-color;

      &:hover {
        background-color: lighten($background, 20%);
      }
    }

    .dropdown-divider {
      border-top: 1px solid lighten($background, 20%);
    }
  }
}
