@import '../../../containers/App/styles/colors.scss';

.accordion {
  .btn-link {
    color: $text-color;
    transition: 200ms;

    &:hover, &:focus {
      color: darken(#eee, 10%);
      text-decoration: none;
      box-shadow: none;
    }
  }

  .collapse, .collapsing {
    font-size: 12px;

    &.show {
      display: block;
    }

    div > span {
      font-size: 12px;
    }
  }
}

.list-group-item {
  text-align: left;
  background-color: lighten($background, 10%);
  font-size: 16px;

  span {
    font-size: 18px;
    float: right;
  }
}

.nav-tabs {
  border-bottom: none;
  margin-bottom: 20px;

  #pool-tabs-tab-currently-staked, #pool-tabs-tab-sushi-lp {
    margin-left: 10px;
  }

  .nav-item {
    color: $text-color;
    border-radius: 5px;
    background-color: $background;

    &:hover {
      border-color: lighten($background, 10%);
      background-color: lighten($background, 10%);
    }

    &.active {
      color: $text-color;
      border-color: lighten($background, 20%);
      background-color: lighten($background, 20%);
    }
  }
}

.form-control {
  background-color: lighten($background, 10%);
  border: 2px solid lighten($background, 20%);
  color: $text-color !important;

  &:focus {
    background-color: lighten($background, 15%);
    border: 2px solid lighten($background, 20%);
  }
}

.card {
  background-color: lighten($background, 10%);
  text-align: center;
  margin-bottom: 50px;

  .card-header {
    background-color: lighten($background, 20%);

    small {
      display: block;
      color: #b5b5b5;
    }
  }

  .card-title {
    font-size: 28px;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;

    small {
      font-size: 16px;
    }
  }
}
