@import '../../../containers/App/styles/colors.scss';

#connected {
  font-size: 18px;

  #overview {
    background-color: lighten($background, 10%);
    border: 3px solid lighten($background, 20%);
    padding: 20px;
    border-radius: 5px;

    hr {
      border-top-color: lighten($background, 20%) !important;
    }

    #overview-stats {

      .col {
        text-align: center;
        padding: 10px;
        font-size: 24px;

        span {
          display: block;
          font-size: 16px;
          color: #b5b5b5;

          &.badge {
            display: inline-block;
            color: $text-color;
          }
        }
      }
    }
  }
}

.popover {
  background-color: lighten($background, 10%);
  border-color: lighten($background, 20%);
  color: $text-color;
  text-align: center;

  hr {
    border-top-color: lighten($background, 20%) !important;
  }

  .popover-header {
    background-color: lighten($background, 30%);
    border-bottom-color: lighten($background, 20%);
  }

  .arrow::after {
    border-top-color: lighten($background, 20%);
  }

  .popover-body {
    color: $text-color;
  }
}

.list-group-item {
  text-align: left;
  background-color: lighten($background, 10%);
  font-size: 16px;

  span {
    font-size: 18px;
    float: right;
  }
}

.nav-tabs {
  border-bottom: none;
  margin-bottom: 20px;

  #pool-tabs-tab-currently-staked, #pool-tabs-tab-sushi-lp {
    margin-left: 10px;
  }

  .nav-item {
    color: $text-color;
    border-radius: 5px;
    background-color: $background;

    &:hover {
      border-color: lighten($background, 10%);
      background-color: lighten($background, 10%);
    }

    &.active {
      color: $text-color;
      border-color: lighten($background, 20%);
      background-color: lighten($background, 20%);
    }
  }
}

.form-control {
  background-color: lighten($background, 10%);
  border: 2px solid lighten($background, 20%);
  color: $text-color !important;

  &:focus {
    background-color: lighten($background, 15%);
    border: 2px solid lighten($background, 20%);
  }
}

.card {
  background-color: lighten($background, 10%);
  text-align: center;
  margin-bottom: 50px;

  .card-header {
    background-color: lighten($background, 20%);

    small {
      display: block;
      color: #b5b5b5;
    }
  }

  .card-title {
    font-size: 28px;
    margin-bottom: 0;

    small {
      font-size: 16px;
    }
  }
}

#not-connected {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;

  #not-connected-content {
    text-align: center;

    .sunglasses {
      display: inline-block;
      font-size: 128px;
      margin-bottom: 25px;
    }
  }
}
