@import '../../../containers/HomePage/styles/poolicons.scss';

.pnda {
  background-image: url('../../../images/pandalogo.png');
}

.bamboo {
  background-image: url('../../../images/bamboo.png');
}

.rhino {
  background-image: url('../../../images/rhino-logo.png');
}

.binance {
  background-image: url('../../../images/binance.png');
}
