@import 'colors.scss';

body, html, #app {
  background-color: $background !important;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, div, span, p, small {
  color: $text-color;
}

a {
  color: $brand;
  transition: 200ms;

  &:hover {
    text-decoration: none;
    color: darken($brand, 10%);
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid lighten($background, 10%) !important;
}

$selection-color: #f530b2;
$selection-color-bg: #f4f112;

::selection {
  background-color: transparent;
  font-weight: bold;
  color: $selection-color;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: $selection-color-bg;
  color: $selection-color;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: $selection-color-bg;
  color: $selection-color;
}

::-ms-selection {
  background-color: $selection-color-bg;
  color: $selection-color;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: $selection-color-bg;
  color: $selection-color;
}
